#posts > li:nth-child(1) {
  box-shadow: 0px 0px 10px 5px var(--text) !important;
}

#posts > li:nth-child(1) > div > div.excerpt_header > div ::after {
  content: " | ***Episódio mais recente***";
}

.podcast-player {
  width: 100%;
}

/* Hide copyright notice on the footer*/
#documentTop > footer > div > img,
#documentTop > footer > div > p {
  display: none;
}

.episode-image {
  max-width: 400px;
  width: 100%;
  height: auto;
}