.podcastplayer {
  display: grid;
  grid-template-columns: 85% 15%;
}

.podcastplayer-audio {
  display: grid;
  width: 100%;
  max-height: 40px;
}

.podcastplayer-speed-button{
  background-color: var(--waze);
  color: var(--fg);
  display: grid;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

/* Hide copyright notice on the footer*/
#documentTop>footer>div>img,
#documentTop>footer>div>p {
  display: none;
}

.episode-image {
  max-width: 400px;
  width: 100%;
  height: auto;
}