.podcastplayer {
  display: grid;
  grid-template-columns: 85% 15%;
}

.podcastplayer-audio {
  width: 100%;
}

.podcastplayer-speed-button{
  text-align: center;
}

/* Hide copyright notice on the footer*/
#documentTop>footer>div>img,
#documentTop>footer>div>p {
  display: none;
}

.episode-image {
  max-width: 400px;
  width: 100%;
  height: auto;
}