
<li class = 'post_item'>
  <div class = 'excerpt'>
    <div class = 'excerpt_header'>
      <h3 class = 'post_link'>
        <a href='{{ .Permalink }}'>{{ .Title  }}</a>
      </h3>
      {{ partial "post-meta.html" . }}
    </div>
    {{- with .Params.thumbnail }}
    <div class = 'excerpt_footer partition'>
      <div class = 'excerpt_thumbnail'>
      <img src = '{{ if (hasPrefix . "http") }}{{ . }}{{ else }}{{ absURL . }}{{ end }}'>
      </div>
      {{ else }}
      <div class = 'excerpt_footer'>
        {{- end }}
        <div>
          <p class = 'pale'>{{ .Summary | truncate 320 | replaceRE "\n" " " | replaceRE "Atribuição e .*" "" }}</p>
          <a href='{{ .Permalink }}' class='excerpt_more button'>{{ i18n "read_more" }}</a>
        </div>
      </div>
    </div>

    {{ if .Params.podcast_file -}}
    <div class="podcastplayer">
      <audio id="podcast-player-ep-{{ .Params.episode }}" class="podcastplayer-audio" controls preload="metadata">
        <source src="{{ .Params.podcast_file }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <select class="button podcastplayer-speed-button" name="playback-speed" id="podcast-playback-speed"
          onchange="changePlaybackSpeed('podcast-player-ep-{{ .Params.episode }}', this.value)">
        <option value="0.75">0.75 x</option>
        <option value="1" selected="selected">1 x</option>
        <option value="1.25">1.25 x</option>
        <option value="1.5">1.5 x</option>
        <option value="1.75">1.75 x</option>
        <option value="2">2 x</option>
      </select>
    </div>
    <br />
    {{- end }}
  </li>
  